
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Kategori</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>Id</td>
        <td>Kategori</td>
        <td>Durum</td>
    </tr>
</table>
